.well.reply.new-reply
  h4.name.text-info= reply.author
    small  replied on
      span.date #{reply.date.getDate()}.#{reply.date.getMonth() + 1}.#{reply.date.getFullYear()}
      span at
      span.date #{reply.date.getHours()}:#{reply.correctMins}
  p.text= reply.text
